.footer-p{
    font-size: 1.05em;
    font-family: "URegular", sans-serif;
    display: flex;
    padding: 20px 60px 10px 60px;
    background-color: #3e77ac;
}
	.footer-p-wrap{
	    display: flex;
	    flex-direction: row;
	    align-items: flex-start;
	    justify-content: space-between;
	    width: 100%;
	}
		.footer_group, .footer-p-itm{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
			.footer-p-itm{
				margin-bottom: 25px;
			}
				.footer-p-itm h4{
					font-family: "UBold";
					padding-top: 5px;
					font-size: 1.1em;
	   				margin: 5px 0px 10px;
	   				cursor: default;
	   				color: #fff;
				}

				.footer-p-itm a{
					margin-left: 5px;
					margin-bottom: 5px;
					cursor: pointer;
				}