.blog{
	padding: 0px 60px 30px;
    box-sizing: border-box;
    background-color: #FAF9FF;
    font-family: "URegular", sans-serif;
}
	.page-a
	{
		border-color: #3eb4f1!important;
	}
	.blog .page-wrap-p
	{
		display: flex;
		flex-direction: row;
		ms-flex-direction: row;
		webkit-box-direction: normal;
		webkit-box-orient: horizontal;
		webkit-flex-direction: row;
	}
	.blog .page-wrap-p .side-menu
	{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		flex-direction: column;
		height: 100%;
		margin-top: 40px;
		ms-flex-direction: column;
		width: 25%;
	}
	.blog .page-wrap-p .side-menu .side-menu-f,.blog .page-wrap-p .side-menu .side-menu-m
	{
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
		webkit-flex-direction: column;
	}
	.blog .page-wrap-p .side-menu .side-menu-m
	{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		flex-direction: column;
		margin-right: 2vw;
		ms-flex-direction: column;
	}
	.blog .page-wrap-p .side-menu .side-menu-m .menu-a{
		cursor: default;
		font-family: "ULight", sans-serif;
		font-size: 1.05em;
		font-weight: 900;
		color: #3eb4f1;
		margin-top: 0px;
		margin-bottom: 7px;
		padding-bottom: 8px;
		position: relative;		
	}
		.blog .page-wrap-p .side-menu .side-menu-m .menu-a:after{
			content: "";
			position: absolute;
			left: 0;
			width: 30%;
			bottom: 0;
			height: 3px;
			background-color: rgba(62, 180, 241, .8);
		}
		.blog .page-wrap-p .side-menu .side-menu-m .menu-m-itm
		{
			font-family: "ULight", sans-serif;
		    font-size: 1em;
		    font-weight: 900;
		    text-decoration: none;
		    color: rgba(111, 111, 111, 0.8);
			margin-bottom: 10px;
			transition: all .2s ease;
			webkit-transition: all .2s ease;
			position: relative;
		}
			.blog .page-wrap-p .side-menu .side-menu-m .menu-m-itm:before{
				content: "";
				position: absolute;
				top: -5px;
			    left: -5px;
			    height: 0px;
			    width: 2px;
				background-color: #f47032;
				transition: all .5s ease;
			}
			.blog .page-wrap-p .side-menu .side-menu-m .menu-m-itm:hover
			{
				color: #6f6f6f;
				transition: color .5s ease;
				webkit-transition: color .5s ease;
			}
				.blog .page-wrap-p .side-menu .side-menu-m .menu-m-itm:hover.menu-m-itm:before{
				    height: 30px;
			}

	.blog .page-wrap-p .side-menu .side-menu-f
	{
		box-sizing: border-box;
	    box-shadow: 1px 1px 5px rgba(79, 86, 105, 0.2);
	    width: 100%;
		align-items: center;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		flex-direction: column;
		justify-content: center;
		margin: 50px 0;
		ms-flex-align: center;
		ms-flex-direction: column;
		ms-flex-pack: center;
		padding: 5%;
		text-align: center;
		webkit-align-items: center;
		webkit-box-align: center;
		webkit-box-pack: center;
		webkit-box-shadow: 1px 1px 5px rgba(79, 86, 105, 0.6);
		webkit-justify-content: center;
	    background-color: #fff;
	}
	.blog .page-wrap-p .side-menu .side-menu-f p
	{
	    font-family: "URegular", sans-serif;
	    font-size: 0.95em;
	    font-weight: 900;
	    margin: 0px 0px 35px;
	    color: #3eb4f1;
	    position: relative;
	}
		.blog .page-wrap-p .side-menu .side-menu-f p:after{
			content: "";
		    position: absolute;
		    left: 10%;
		    width: 80%;
		    bottom: -10px;
		    height: 3px;
		    background-color: rgba(62, 180, 241, .8);
		}
	.blog .page-wrap-p .side-menu .side-menu-f .input_group{
		position: relative;
	}
		.blog .page-wrap-p .side-menu .side-menu-f .input_group .subscribers
		{
		    border: none;
		    font-family: "ULight", sans-serif;
		    font-weight: 900;
		    color: #8896a3 !important;
		    font-size: 16px;
		    margin-bottom: 15px;
		    padding-bottom: 5px;
    		border-bottom: 2px solid transparent;
    		transition: .25s ease all;
		    position: relative;
		}
		.input_group .border_line{
			position: absolute;
			transition: .25s ease all;
		    width: 0%;
		    height: 2.3px;
		    bottom: 15px;
		    background-color: #f47032;
		}

	.blog .page-wrap-p .side-menu .side-menu-f .subscribers::-webkit-input-placeholder {
		   	color: #8896a3;
		   	font-family: "ULight", sans-serif;
		    font-weight: 900;
		}
	.blog .page-wrap-p .side-menu .side-menu-f .subscribers::-moz-placeholder {
		  	color: #8896a3;
		   	font-family: "ULight", sans-serif;
		    font-weight: 900;
		}
	.blog .page-wrap-p .side-menu .side-menu-f .subscribers:-ms-input-placeholder {
		  	color: #8896a3;
		   	font-family: "ULight", sans-serif;
		    font-weight: 900;
		}
	.blog .page-wrap-p .side-menu .side-menu-f .subscribers:-moz-placeholder {
		   	color: #8896a3;
		   	font-family: "ULight", sans-serif;
		    font-weight: 900;
		}
	.blog .page-wrap-p .side-menu .side-menu-f .subscribers:active,.blog .page-wrap-p .side-menu .side-menu-f .subscribers:focus
	{
		outline: 0;
		border-bottom: 2px solid #f47032;
	}
	.blog .page-wrap-p .side-menu .side-menu-f button
	{
		border: none;
    	color: #fff;
		padding: 10px 15px;
	    box-sizing: border-box;
	    border-radius: 4px;
	    box-shadow: 0px 2px 5px rgba(79, 86, 105, 0.65);
	    text-transform: uppercase;
	    font-family: "ULight", sans-serif;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-weight: 900;
	    outline: none;
	    cursor: pointer;
	    transition: .05s ease all;
	    text-decoration: none;
	    background-color: #f47032;
	    font-size: 1em;
	    margin: 5px 0;
	    width: 75%;
	    height: 70px;
	    webkit-border-radius: 4px;
	    webkit-box-shadow: 0px 2px 5px rgba(79, 86, 105, 0.65);
	}
	.blog .page-wrap-p .side-menu .side-menu-s,.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social
	{
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		webkit-box-direction: normal;
		width: 100%;
	}
	.blog .page-wrap-p .side-menu .side-menu-f button:hover
	{
		box-shadow: -1px 1px 3px rgba(79, 86, 105, 0.4);
		webkit-box-shadow: -1px 1px 3px rgba(79, 86, 105, 0.4);
	}
	.blog .page-wrap-p .side-menu .side-menu-s
	{
		align-items: center;
		display: flex;
		flex-direction: column;
		ms-flex-align: center;
		ms-flex-direction: column;
		webkit-align-items: center;
		webkit-box-align: center;
		webkit-box-orient: vertical;
		webkit-flex-direction: column;
	}
	.blog .page-wrap-p .side-menu .side-menu-s h6
	{
	    font-family: "URegular", sans-serif;
	    color: rgba(31, 45, 67, 0.9);
	    font-size: 1.2em;
	    margin: 0px;
	}
	.blog .page-wrap-p .side-menu .side-menu-s p
	{
		color: #6f6f6f;
	    font-family: "ULight", sans-serif;
	    font-size: 0.9em;
	    font-weight: 900;
	    margin: 7px;
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 15px 0 0px;
	    padding: 0px 20px;
	    box-sizing: border-box;
	    width: 100%;
		ms-flex-direction: row;
		ms-flex-pack: justify;
		webkit-box-orient: horizontal;
		webkit-box-pack: justify;
		webkit-flex-direction: row;
		webkit-justify-content: space-between;
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm
	{
		align-items: center;
		border-radius: 50%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		flex-direction: column;
		height: 40px;
		justify-content: center;
		ms-flex-align: center;
		ms-flex-direction: column;
		ms-flex-pack: center;
		webkit-align-items: center;
		webkit-border-radius: 50%;
		webkit-box-align: center;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
		webkit-box-pack: center;
		webkit-flex-direction: column;
		webkit-justify-content: center;
		width: 40px;
		font-size: 1.5em;
		text-decoration: none;
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm:nth-child(1)
	{
		background: linear-gradient(to bottom right,#5e2bae,#472092);
		background: -webkit-gradient(linear,left top,right bottom,from(#5e2bae),to(#472092));
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm:nth-child(2)
	{
		background: linear-gradient(to bottom right,#5b759e,#405d8d);
		background: -webkit-gradient(linear,left top,right bottom,from(#5b759e),to(#405d8d));
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm:nth-child(3)
	{
		background: linear-gradient(to bottom right,#71b3e4,#518fc4);
		background: -webkit-gradient(linear,left top,right bottom,from(#71b3e4),to(#518fc4));
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm:nth-child(4)
	{
		background: linear-gradient(to bottom right,#52598c,#3c446e);
		background: -webkit-gradient(linear,left top,right bottom,from(#52598c),to(#3c446e));
	}
	.blog .page-wrap-p .side-menu .side-menu-s .menu-s-social .s-social-itm:nth-child(5)
	{
		background: linear-gradient(to bottom right,#b4271c,#8f1b18);
		background: -webkit-gradient(linear,left top,right bottom,from(#b4271c),to(#8f1b18));
	}
	.blog .page-wrap-p .blog-main .blog-title
	{
	    font-family: "URegular", sans-serif;
	    font-size: 2.5em;
	    color: #3eb4f1;
	    margin: 0px;
	    color: rgba(31, 45, 67, 0.9);
	    width: 100%;
	    box-sizing: border-box;
	    font-weight: 900;
	    padding: 42px 0 5px;
	    line-height: 0.8em;
	    margin-bottom: 15px;
	    /* padding: 25px 0 15px; */
	    justify-content: center;
	    ms-flex-align: start;
	    ms-flex-direction: column;
	    ms-flex-pack: center;
	    webkit-align-items: flex-start;
	    webkit-box-align: start;
	    webkit-box-direction: normal;
	    webkit-box-orient: vertical;
	    webkit-box-pack: center;
	    webkit-flex-direction: column;
	    webkit-justify-content: center;
	    display: flex;
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: -webkit-flex;
	    flex-direction: column;
	    align-items: flex-start;
	    position: relative;
	    margin-bottom: 10px;
	}
		.blog .page-wrap-p .blog-main .blog-title:after{
			content: "";
		    position: absolute;
		    bottom: -10px;
		    left: 0;
		    width: 30%;
		    height: 4px;
		    background-color: rgb(244, 112, 50);
		}
	.blog .page-wrap-p .blog-main
	{
		margin: 0 30px;
    	width: 59%; /*63,5*/
	}
		.blog .breadcrumbs{
			font-size: 1em;
    		font-family: "URegular", sans-serif;
    		font-weight: 900;
    		padding: 5px 0px;
		}
			.blog .breadcrumbs .allow-link{
			    color: #3eb4f1;
			    text-decoration: none;
			    padding-right: 15px;
			    position: relative;
			}
				.blog .breadcrumbs .allow-link:after{
					content: "";
				    position: absolute;
				    height: 5px;
				    width: 5px;
				    background-color: #f47032;
				    right: 0px;
				    top: 44%;
				    border-radius: 50%;
				}
			.blog .breadcrumbs .current-link{
			    color: #8896a3;
			    text-decoration: none;
			    padding-left: 10px;
			}

		.blog .bar_article{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			font-size: .9em;
			margin-bottom: 10px;
		}
			.blog .bar_article .socials-shares{
				display: flex;
				justify-content: inherit;
				align-items: inherit;
			}
				.blog .bar_article .socials-shares .link-share{
				    padding: 5px 0px 5px;
   					margin-right: 10px;
    				font-family: "UBold", sans-serif;
    				border-bottom: 1px dashed
				}
					.blog .bar_article .socials-shares .link-share i{
						font-size: 1.1em;
					}
					.gg-share{
						color: #c23321;
					}
					.tw-share{
						color: #00aced;
					}
					.fb-share{
						color: #2d4373;
					}
			.blog .bar_article .date{
				font-family: "ULight", sans-serif;
			    color: rgba(79, 86, 105, 0.4);
			    font-weight: 900;
			}
		.blog .page-wrap-p .blog-article{
			width: 100%;
		}
			.blog-article .preview-img{
				max-width: 100%;
			}
			.blog-article p, .blog-article li{
				font-family: "ULight", sans-serif;
			    color: rgba(31, 45, 67, 0.9);
			    font-weight: 900;
			    line-height: 1.6em;
			}
			.blog-article a{
				font-family: "UBold", sans-serif;
				text-decoration: none;
				border-bottom: 1px dashed;
    			color: #f47032;
			}



	.blog .blog-sidebar{
	    min-width: 24%;
    	background: #efefef;
	}
	