body{
	background: #FAF9FF;
	position: relative;
}
.admin_content-box{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		min-width: 240px;
		flex: auto;
		margin: 0px 50px 0px 50px;
		height: 100vh; 
	}
	